{% extends "socs_webs/base.html" %}

{% block page_header %}
  <div class="container">
    <h3 class="text-light">Contact Us</h3>
  </div>
{% endblock page_header %}

{% block content %}
  <div class="card mb-3 bg-dark text-white">
    <h4 class="card-header bg-secondary">&nbsp;&nbsp;Email</h4>
    <div class="container">
      <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;qccomputerso@gmail.com</div>
    </div>
  </div>
  <div class="card mb-3 bg-dark text-white">
    <h4 class="card-header bg-secondary">&nbsp;&nbsp;Instagram</h4>
    <div class="container">
      <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/qc_socs/" target="newtab" 
        class="invert">@qc_socs </a>(Please Follow Us!!!)</div>
    </div>
  </div>
{% endblock content %}
