{% extends "socs_webs/base.html" %}

{% block page_header %}
  <h3>Contact Us</h3>
{% endblock page_header %}

{% block content %}
  <div class="card mb-3">
    <h4 class="card-header">Email</h4>
    <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;qccomputerso@gmail.com</div>
  </div>
  <div class="card mb-3">
    <h4 class="card-header">Instagram</h4>
    <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/qc_socs/" target="newtab" 
      class="invert">@qc_socs </a>(Please Follow Us!!!)</div>
  </div>
{% endblock content %}
