{% extends "socs_webs/base.html" %}

{% block page_header %}
  <div class="container">
    <h3 class="text-light">Upcoming Events</h3>
  </div>
{% endblock page_header %}

{% block content %}
  <div class="card mb-3 bg-dark text-white">
    <div class="container">
      <h4 class="card-header">1. Orientation Day (Ended)</h4>
      <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date: 15/10 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: 16:00 - 17:00<br/> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn-lg btn-xs btn-primary" href="{% url 'socs_webs:oday' %}" 
        role="button">Details &raquo;</a><br/></div>
    </div>
  </div>
{% endblock content %}