{% extends "socs_webs/base.html" %}

{% block page_header %}
  <h3>Upcoming Events</h3>
{% endblock page_header %}

{% block content %}
  <div class="card mb-3">
    <h4 class="card-header">1. <a class="invert" href="{% url 'socs_webs:oday' %}">Orientation Day</a></h4>
    <div class="card-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date: 15/10 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: 16:00 - 17:00<br/> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn-lg btn-xs btn-primary" href="{% url 'socs_webs:oday' %}" 
      role="button">Detail &raquo;</a></div>
  </div>
{% endblock content %}